header{
    margin: 100px;
    text-align: center;
    font-size: 30px;
}


body{

    background-color: rgb(186, 186, 255);
}


h1, h2, h3{

font-size: 75px;
text-align: center;
color: red;

}

ol{
    size: 50px;
    text-align: center;
    color: red;
}

ul{
    size: 50px;
    text-align: center;
    color: blueviolet;
}

li{
font-size: 50px;

}

.marginauto {
    margin: 10px auto 20px;
    display: block;
}

footer{

    text-align: center;
    font-size: 75px;
}